body {
	background: #000000; /* 196dff */
	text-align: center;
	color: #005500;
}

#main{
	width: 600px;
	height: 600px;
	background: #464646; /* ffab19 */
	margin: 25px auto;
	color: #00aa00;
	border: solid 2px #ff3819;
	padding: 10px;
}

h1 {
	text-align: center;
	font-family: "Times New Roman";
	/* background: #ff3819; */
}

hr {
	height: 2px;
	color: #ff3819;
}

p {
	font-family: "Calibri";
	font-size: 12pt;
	text-align: left;
	text-indent: 48px;
	color: #cccccc; /* 2f2d2d */
}

/* unvisited link */
a:link {
	color: #dddddd;
}

/* visited link */
a:visited {
	color: #000000;
}

/* mouse over link */
a:hover {
	color: #d00000;
}

/* selected link */
a:active {
	color: #0000d0;
}