#titleDiv {
  /* to be implemented */
}

#bodyDiv {
  /* to be implemented */
}

#conclusionDiv {
  /* to be implemented */
}

#footerDiv {
  /* to be implemented */
}

table {
  margin-left: 19%;
  max-width: 1000px;
  min-width: 1000px;
}
